# General

Stratification group: {{ group }}

{{ "These stratifications represent %s." | format(description) | wordwrap }}

{%- if haplotypes|length == 1 %}
This reference is diploid. The files here contain regions for the 
{{ haplotypes[0].name }} haplotype.
{%- elif haplotypes|length == 2 %}
This reference is diploid. The files here contain regions for both 
{{ haplotypes[0].name }} and {{ haplotypes[1].name }} haplotypes.
{%- endif %}

For contact information, sharing and access information, data usage policy,
recommended citations, general workflow information, quality control, and other
high-level information, see the top-level readme one level up.

# File Descriptions

{{ description_text }}

# Provenance and Data Processing

{{ methods_text }}
