# General

This directory contains stratifications for {{ group }}.

{{ "These stratifications represent %s." | format(description) | wordwrap }}

For contact information, sharing and access information, data usage policy,
recommended citations, general workflow information, quality control, and other
high-level information, see the top-level readme one level up.

# File Descriptions

{{ description_text }}

# Methods

{{ methods_text }}
