{% include "header.md" %}

# DATA & FILE OVERVIEW

## File List and Descriptions

* {{ ref_key }}_refseq_cds.bed.gz: all Refseq CDS regions in the reference
* {{ ref_key }}_notinrefseq_cds.bed.gz: the complement of the above

# METHODOLOGICAL INFORMATION

## Description of methods used to generate the stratifications

A GFF file containing the CDS regions (and likely other stuff) is filtered for
lines with "(Best)RefSeq" and "CDS" (in columns 2 and 3 respectively). This is
then parsed into a bed file by subsetting to columns 1, 4, and 5 (chrom, start,
and end respectively) and shifting shifting each coordinate by -1 (note that GFF
files are 1-based and BED files are 0-based). Coordinates whose start and end
are equal are removed. The remainining regions are merged using `mergeBed`.

## Dependencies

{{ gff_file }}

## Software

{# TODO include bedtools and stuff here #}

{% include "footer.md" %}
