## Description of methods used to generate the stratifications

{{ src_txt }}

{{ processing_txt }}

## Software
{% for dep, version in deps.items() %}
- {{ dep }}: version {{ version }}
{%- endfor %}

