{% include "header.md" %}

# DATA & FILE OVERVIEW

## Files and Descriptions

{% if none(low_file) %-}
### Low extreme 

{{low_file}}

This file includes GC content that is less than X.

{-% endif %}

{% if none(high_file) %-}
### High extreme

{{high_file}}

This file includes GC content that is greater than X.
{-% endif %}

{% if length(range_files) > 0 %-}
### Ranges

{% for file in range_files %}
{{file}}
{% endfor %}

These files include regions where GC content is between X and Y percent.
{-% endif %}

{% if length(dual_files) > 0 %-}
### Dual Extremes

{% for file in dual_files %}
{{file}}
{% endfor %}

These files include regions where GC content is either less than (lt) X% or
greater than (gt) Y%.
{-% endif %}

# METHODOLOGICAL INFORMATION

## Description of methods used to generate the stratifications

`seqtk` was used to find regions >=100bp long in the reference that were either
less than or greater than a specified GC% cutoff. Regions were extended by 50bp
in either direction using `slopBed`. Regions were then merged using `mergeBed`.

**TODO add which cutoffs were used**

To generate bed files with GC ranges from X to Y, we subtracted the larger (in
total bases) of X and Y from the smaller using `subtractBed`.

**TODO say how the middle range was found**

To generate the dual extreme bed files, we combined two bed files representing
GC content <X and >Y respectively and combined them using `multiIntersectBed`
and `mergeBed`.

## Dependencies

These stratifications only depended on the reference

## Software

* seqtk and friends

{% include "footer.md" %}
