## Description of methods used to generate the stratifications

Regions with low mappability for different read lengths and error rates were
generated using GEM (see below for source). The GEM mappability tool finds
`l-bp` regions that match other regions in the reference genome with fewer than
`m` mismatches (SNPs) and fewer than `e` indels < 15bp.

We generated mappability files (`gem-indexer` and `gem-mappability`) using the
following parameters:

**TODO: ENTER PARAMETERS HERE**

- low stringency: l-100, m-2, e-1 (2 mismatches and 1 indels)
- high stringency: l-250, m-0, e-0 (0 mismatches and 0 indels)

These were then converted to wig files using `gem-2-wig` which were then parsed
into bed files.

Each unique bed file was then complemented (`complementBed`) to find non-unique
regions. Then non-unique regions <100bp in each bed file were merged together
using `mergeBed`.

The `lowmappabilityall` bed file was created by intersecting
(`multiIntersectBed`) and merging (`mergeBed`) each individual non-unique bed
together. This result was then complemented using `complementBed` to make the
`notinlowmappabilityall`.

## Dependencies

These stratifications only depend on the reference.
  
## Software

The GEM mappability program ([Derrien T, Estellé J, Marco Sola S, Knowles DG,
Raineri E, Guigó R, et al. (2012) Fast Computation and Applications of Genome
Mappability. PLoS ONE 7(1):
e30377](https://doi.org/10.1371/journal.pone.0030377)) was downloaded from
{{ gemurl }}.
