These bed files were taken as is from their denoted sources.

{% for name, src in other_srcs.items() %}
## {{ name }}

{{ src }}
{% endfor %}

## Software
{% for dep, version in deps.items() %}
- {{ dep }}: version {{ version }}
{%- endfor %}

