{% if gaps_file is not none -%}
### Gaps

This file contains all regions within 15 kilobases of a gap in the reference.

`{{ gaps_file }}`
{%- endif %}

{% if vdj_file is not none -%}
### VDJ

This contains the highly polymorphic and usually rearranged VDJ segments for the
T and B cell receptors.

`{{ vdj_file }}`
{%- endif %}

{% if kir_file is not none -%}
### KIR

This contains the highly polymorphic killer-cell immunoglobulin-like receptor
(KIR) region.

`{{ kir_file }}`
{%- endif %}

{% if mhc_file is not none -%}
### MHC

This contains the highly polymorphic major histocompatibility complex (MHC)
region.

`{{ mhc_file }}`
{%- endif %}

{% if other_files|length > 0 -%}
### Other

{% for other_file, other_desc in other_files %}
{{ other_desc }}

`{{ other_file }}`
{% endfor %}
{%- endif %}
