- `{{ segdups_file }}`: all segmental duplications
- `{{ long_segdups_file }}`: all segmental duplications >= 10,000 base pairs

Also included are the complements of these:

- `{{ not_segdups_file }}`
- `{{ not_long_segdups_file }}`
