This contains regions with segmental duplications. Segmental duplications within
100 base pairs of another segmental duplication are treated as the same region:

`{{ segdups_file }}`

The following is the above bed file filtered for regions > 10,000 base pairs:

`{{ long_segdups_file }}`

These are the complements of the above:

`{{ not_segdups_file }}`
`{{ not_long_segdups_file }}`
