This contains all segmental duplications and low-mappability regions:

`{{ segdup_map_file }}`

{{ alldifficult_desc }}

`{{ alldifficult_file }}`

Also included are the complements of these:

- `{{ not_segdup_map_file }}`
- `{{ not_alldifficult_file }}`
